<div class="card mb-3">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
  <img src="../assets/img/stayathome.jpg" class="card-img" alt="stayathome">
  <div class="img-src">Photo by Logan Weaver on Unsplash</div>
    </div>
    <div class="col-6 col-sm-6 col-md-8 col-lg-9 col-xl-9">
  <div class="card-body">
    <h5 class="card-title">First Blog Entry</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    <!--<p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>-->
    <p class="card-text"><small class="text-muted">Created at 29. March 2020 23:17</small></p>
  </div>
    </div>
  </div>
</div>
