div.line-chart {
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 3px 3px 2px black;
}

h4 {
  margin-left: 1.5rem;
}

div.line-chart-header {
  margin-top: 0.5rem;
}

div.line-chart-settings {
  display: flex;
  justify-content: right;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  box-sizing: border-box;
  background-color: #343a40;
}

div.line-chart-settings-dropdown {
  margin-right: 0.25rem;
}

button {
  background-color: #343a40;
}

div.line-chart-title {
  float: left;
  width: 90%;
  margin-right: 2%;
  box-sizing: border-box;
  padding-top: 0.25rem;
}

button.btn-secondary {
  background-color: #343a40;
  border: 0px none;
}

div.dropdown-menu {
  color: white;
  background-color: #343a40;
  border: 1px solid grey;
  width: 288px;
  padding: 0.75rem 0.75rem;
}

div.moving-average {
  padding-left: 0.25rem;
}

button.dropdown-item {
  color: white;
}

button.dropdown-item:hover {
  background-color: black;
}

li.dropdown-item {
  color: white;
}

@media (max-device-width: 767px) {
  h4 {
    font-size: 1rem;
  }
}
