<div class="line-chart">
  <div class="line-chart-header">
    <div class="line-chart-settings">
      <div class="line-chart-title">
        <h4>{{ topic }}</h4>
      </div>
      <div class="line-chart-settings-dropdown">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="line-chart-settings-dropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <fa-icon [icon]="faCogs"></fa-icon>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="line-chart-settings-dropdown"
          >
            <form>
              <legend>Chart Typ</legend>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" [for]="getChartTypeLinearID()">
                  <input
                    type="radio"
                    name="options"
                    [id]="getChartTypeLinearID()"
                    (click)="onChartType('linear')"
                    checked
                  />
                  Linear
                </label>
                <label
                  class="btn btn-secondary"
                  [for]="getChartTypeLogarithmicID()"
                >
                  <input
                    type="radio"
                    name="options"
                    [id]="getChartTypeLogarithmicID()"
                    (click)="onChartType('logarithmic')"
                  />
                  Logarithmisch
                </label>
              </div>
              <legend>Gleitender Durchschnitt</legend>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" [for]="getMovingAverageID()">
                  <input
                    type="checkbox"
                    name="options"
                    [id]="getMovingAverageID()"
                    (click)="onMovingAverage()"
                    checked
                  />
                  {{ getMovingAverageText() }}
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="dataValues"
      [labels]="dataLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      chartType="line"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</div>
