<div class="line-chart">
  <div class="line-chart-header">
    <div class="line-chart-settings">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="line-chart-settings-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <fa-icon [icon]="faChartLine"></fa-icon>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="line-chart-settings-dropdown"
        >
          <button class="dropdown-item" type="button" (click)="onChartType('linear')">Linear</button>
          <button class="dropdown-item" type="button" (click)="onChartType('logarithmic')">Logarithmic</button>
        </div>
      </div>
    </div>
    <div class="line-chart-title">
      <h4>{{ topic }}</h4>
    </div>
  </div>
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="dataValues"
      [labels]="dataLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      chartType="line"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</div>
