<h1>Covid-19 Dashboard</h1>
<h6>Stand: {{ lastUpdate }}</h6>
<h6 class="data-source">
  Datenquelle:
  <a href="https://github.com/CSSEGISandData/COVID-19">CSSEGISandData</a>
</h6>

<div class="sticky-country-selection">
  <select
    id="country"
    class="country-selection"
    formControlName="country"
    (change)="onCountryChange($event)"
  >
    <option *ngFor="let key of keys" [value]="countries[key]">{{ key }}</option>
  </select>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <app-dashboard-card
      caption="Bestätigte Fälle"
      [absoluteValue]="getLastConfirmed()"
      [relativeValue]="getLastConfirmedRelative()"
    ></app-dashboard-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <app-dashboard-card
      caption="Todesfälle"
      [absoluteValue]="getLastDeaths()"
      [relativeValue]="getLastDeathsRelative()"
    ></app-dashboard-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <app-dashboard-card
      caption="Genesene"
      [absoluteValue]="getLastRecovered()"
      [relativeValue]="getLastRecoveredRelative()"
    ></app-dashboard-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
    <app-dashboard-card
      caption="Fallsterblichkeit"
      [absoluteValue]="getLastCFR()"
      absoluteUnit="%"
    ></app-dashboard-card>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-confirmed-total-line-chart
        [data]="covidData"
        [country]="country"
      ></app-confirmed-total-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-deaths-total-line-chart
        [data]="covidData"
        [country]="country"
      ></app-deaths-total-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-confirmed-new-daily-line-chart
        [data]="covidData"
        [country]="country"
      ></app-confirmed-new-daily-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-deaths-new-daily-line-chart
        [data]="covidData"
        [country]="country"
      ></app-deaths-new-daily-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-confirmed-total-relative-line-chart
        [data]="covidData"
        [country]="country"
      ></app-confirmed-total-relative-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-deaths-total-relative-line-chart
        [data]="covidData"
        [country]="country"
      ></app-deaths-total-relative-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-confirmed-population
        [data]="covidData"
        [population]="population"
        [country]="country"
      ></app-confirmed-population>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-confirmed-currently-line-chart
        [data]="covidData"
        [country]="country"
      ></app-confirmed-currently-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-recovered-total-line-chart
        [data]="covidData"
        [country]="country"
      ></app-recovered-total-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-recovered-new-daily-line-chart
        [data]="covidData"
        [country]="country"
      ></app-recovered-new-daily-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-reproduction-factor-line-chart
        [data]="covidData"
        [country]="country"
      ></app-reproduction-factor-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="line-chart">
      <app-cfr-line-chart
        [data]="covidData"
        [country]="country"
      ></app-cfr-line-chart>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p>
      * Die Berechnung der Reproduktionszahl ist berechnet aus dem 7 Tagemittel
      der täglich Neuinfizierten. Es wird von einer Generationszeit von 8 Tagen
      ausgegangen (8 Tage ansteckend) und somit das eine Ansteckung
      durchschnittlich nach 4 Tagen nach der Infektion erfolgt. Die berechnete
      Reproduktionszahlen sind lediglich eine Näherung und nah an den
      offiziellen Zahlen der landerspezifischen Instituten dran.
    </p>
  </div>
</div>
