.card {
  background-color: #343a40;
  border-color: grey;
  border-radius: 20px;
  box-shadow: 3px 3px 2px black;
  margin-bottom: 1rem
}

.absolute-value {
  font-size: 16pt;
  font-weight: bold;
  padding-right: 0.75rem;
}

.relative-value {
  font-size: 14pt;
  font-weight: italic;
}
