<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/blog">TheSilk</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarGHPages"
      aria-controls="navbarGHPages"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse float-right" id="navbarGHPages">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/impressum">Impressum</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="nav-pic">
  <img class="nav-img" src="assets/img/nav-screen-image.png" />
</div>
