.navbar-brand {
  text-shadow: 3px 3px #000
}

img.nav-img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

button.navbar-toggler {
  box-shadow: 3px 3px 2px black;
}

@media (min-device-width: 992px) {
  div.container {
    max-width: 75%;
  }
}
