<div class="profile-card">
  <img src="../assets/img/avatar.png" class="profile-img img-fluid" />
  <h3 class="text-center">The Silk</h3>
  <h5 class="text-center">Software Developer</h5>
  <p class="profile-quote">
    "Always code as if the guy who ends up maintaning your code will be a
    violent psychopath who knows where you live."
  </p>
  <p class="profile-quote-origin">(Rick Osborne)</p>
  <div class="social-button">
    <a
      href="https://twitter.com/TheSilk15?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-show-count="false"
      >Follow @TheSilk15</a
    >
  </div>
</div>
